<div class="umb-property-editor umb-multiple-textbox" ng-controller="Our.Umbraco.MultiLanguageTextboxController as vm">

  <ng-form name="vm.mltbform">
    <div class="flex flex-wrap textbox-wrapper" ng-repeat="item in vm.cultureTextBoxes track by $index">
      <label class="control-label">{{item.label}} <span ng-if="vm.markMandatoryLanguages && item.isMandatory"> <strong class="umb-control-required">*</strong> </span> </label>
      <input type="text" name="item_{{$index}}" ng-model="item.value" ng-blur="vm.updateModel()" class="umb-property-editor umb-textstring textstring flx-i" />
    </div>
    <input type="hidden" name="mandatory" ng-model="vm.validationString"  />
  </ng-form>
</div>
